* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-image: url(image/c.jpeg);
    background-size: cover;
}

nav {
    background-color: black;
    border: 0.3vw groove gold;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-top: 0.5vw;
}

li {
    padding-top: 1vw;
}

nav a:link, a:visited {
    color: gold;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    color: white;
}

.logo img {
    height: 5vh;
}

.contact{
    display: flex;
    justify-content: space-around;
}

.con{
    border: 0.3vw ridge gold;
    margin-top: 3vh;
    width: 65vw;
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin-bottom: 3vh;
}

.con h2{
    color: gold;
}

input{
    border: 2px solid gold;
    height: 3.5vh;
    outline: none;
    border-radius: 7px;
    padding: 2px;
}

.age::-webkit-outer-spin-button,
.age::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea{
    border: 2px solid gold;
    border-radius: 7px;
}

.content{
    border: 0.3vw solid rgba(255, 255, 255, 0.192);
    padding: 2vw;
    margin: 1vw;
}

form{
    display: grid;
}

form button{
    background-color: gold;
    font-weight: bold;
    font-size: 3.3vw;
    cursor: pointer;
    border-radius: 7px;
}

.follow{
    border: 0.3vw ridge gold;
    margin-top: 3vh;
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin-bottom: 3vh;
    height: fit-content;
}

.follow h3{
    margin-top: 0.3vw;
    margin-left: 1vw;
}

.scmedia{
    border: 0.3vw solid rgba(255, 255, 255, 0.192);
    padding: 2vw;
    margin: 1vw;
    font-size: 3vw;
}

.scmedia a:link{
    color: white;
    text-decoration: none;
}

.scmedia a:visited{
    color: rgb(26, 130, 242);
    text-decoration: none;
}

.scmedia a:hover{
    color: rgb(246, 112, 63);
    text-decoration: none;
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

#icon{
    transition: transform 0.2s ease;
    font-size: 3.5vw;
}

#icon:hover{
    transform: scale(1.1);
}
.scmedia a {
    display: inline-block;
}
